@import '@styles/variables';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  @apply flex justify-center items-center h-screen;
}

.spinner {
  @apply rounded-full h-32 w-32 border-t-2 border-b-2 border-blue-500;
  animation: spin 1s linear infinite;
}
