@import '@variables';
@import '@mixins';

.card {
  @apply bg-gray-800 rounded-lg shadow-md p-4;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
}

.title {
  @apply text-xl font-bold text-white;
  margin-bottom: 0.5rem;
}

.description {
  @apply text-gray-300;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonWrapper {
  @apply mt-4;
}