.container {
  @apply mx-auto py-8 px-4;
  max-width: 1200px;
}

.title {
  @apply text-3xl font-bold mb-6 text-center;

  @media (min-width: 640px) {
    @apply text-4xl;
  }

  @media (min-width: 1024px) {
    @apply text-5xl;
  }
}

.controlsContainer {
  @apply flex flex-col justify-between items-center mb-6;

  @media (min-width: 640px) {
    @apply flex-row;
  }
}

.characterGrid {
  @apply grid gap-4 mt-6;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.loadMoreContainer {
  @apply text-center mt-8;
}
